@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,600);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #ee283c !default;
$base: #0c0c0c !default;
$white: #fff !default;
$grey: #878787 !default;
$pro-border: #d7d7d7 !default;
$foot-border: #b5b5b5 !default;
$back: #dddddd !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$input-form: #7d7d7b !default;

$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;

$font-family-sans-serif: "Hind",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
$font-family-serif: "Hind",
Georgia,
"Times New Roman",
Times,
serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}
@mixin clip-path($clip) {
    -webkit-clip-path: $clip;
    -moz-clip-path: $clip;
    -ms-clip-path: $clip;
    clip-path: $clip;
}
.font-smart {
    font-family: $font-family-serif;
    font-weight: bold;
}
body {
    padding-top: 0px;
    font-family: $font-family-sans-serif;
    color: $base;
}
a {
    text-decoration: none !important;
    color: $base !important;
    &:hover {
        text-decoration: none;
        color: $base;
    }
    &:focus{
        outline: 0;
    }
}
p {
    color: $base;
}
.btn-facebook {
    @include button-variant(white, $facebook, $facebook);
}
.btn-google {
    @include button-variant(white, $google, $google);
}
.btn-twitter {
    @include button-variant(white, $twitter, $twitter);
}
img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
ul {
    list-style: none;
    display: block;
    padding: 0;
    li {
        display: inline-block;
    }
}
.row-flex {
    @include display(flex);
}
.col-flex {
    @include flex(1);
    position: relative;
}
///* swipper
//.swiper-container {
//    width: 100%;
//    height: 100%;
//}
//.swiper-slide {
//    text-align: center;
//    font-size: 18px;
//    background: #fff;
//    /* Center slide text vertically */
//    display: -webkit-box;
//    display: -ms-flexbox;
//    display: -webkit-flex;
//    display: flex;
//    -webkit-box-pack: center;
//    -ms-flex-pack: center;
//    -webkit-justify-content: center;
//    justify-content: center;
//    -webkit-box-align: center;
//    -ms-flex-align: center;
//    -webkit-align-items: center;
//    align-items: center;
//}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.margin0 {
    margin: 0px;
}
.padding0 {
    padding: 0px;
}

/* Start writing sass here */

.display-inline {
    display: inline-block;
}
.top-search {
    .input-group {
        border: 1px solid grey;
        border-radius: 4px;
        padding-top: 1px;
        .form-control {
            border: 0px solid;
            padding: 3px 0px 0px 10px;
            color: #909090;
            @include placeholder {
                color: #909090;
            }
        }
    }
    .input-group-btn {
        .btn {
            line-height: 90%;
            border-left: 1px solid grey !important;
            border: 0px solid;
            i {
                color: #878787;
            }
            &:hover {
                background-color: transparent;
            }
        }
    }
}
.top-cart {
    border: 1px solid #878787;
    font-size: 14px;
    padding: 9px 10px 6px 4px;
    text-transform: uppercase;
    margin: 0px 5px 0px 0px;
    ul {
        li {
            padding: 0px 3px;
            i {
                font-size: 18px;
                color: $brand-primary;
                vertical-align: middle;
            }
        }
    }
    .pl12 {
        padding-left: 12px;
    }
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 30px 0px 40px 0px;
    //    z-index: -9;
    position: relative;
}
.top-login {
    text-transform: capitalize;
    ul {
        li {
            border-right: 1px solid $base;
            padding: 0px 6px;
            line-height: 100%;
            &:last-child {
                border-right: none;
            }
        }
    }
}
.logo {
    margin-top: -6px;
}
.bright {
    border-right: 2px solid $foot-border;
}
.btop {
    border-top: 2px solid $foot-border;
}
.menu-list {
    background-color: $brand-primary;
    z-index: 99;
    padding: 10px 0px;
    width: 100%;
    position: absolute;
    margin-top: -17px;
    ul {
        li {
            padding: 0px 32px;
            a {
                color: $white !important;
                text-transform: capitalize;
                font-weight: 300;
                img {
                    height: 18px;
                }
                span {
                    padding-left: 4px;
                }
            }
        }
    }
}
.red-backgound {
    background-color: $brand-primary;
}
.black-backgound {
    background-color: #000;
}
.back-red {
    min-height: 250px;
    .mid-product {
        padding: 25px 0px 0px 45px;
    }
}
.mid-product-img {
    max-width: 100%;
    height: 215px;
    overflow: hidden;
    display: inline-block;
    margin: -40px 0px -35px 70px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.mid-product-img2 {
    @extend .mid-product-img;
    margin: 0px 0px -70px 15px;
    height: 181px;
}
.mid-pro-name {
    text-transform: capitalize;
    color: $white;
    h4 {
        font-size: 25px;
        line-height: 100%;
    }
    p {
        font-size: 23px;
        font-weight: 300;
        color: $white;
        line-height: 100%;
    }
}
.up-image {
    padding: 0px 1px;
    img {
        height: 8px;
    }
}
.pl10 {
    padding-left: 10px;
}
.pro-title {
    margin-top: 70px;
    margin-bottom: 15px;
    img {
        vertical-align: baseline;
        height: 30px;
    }
    h3 {
        font-weight: bold;
    }
}
.img-hold {
    height: 200px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $pro-border;
    padding: 20px 0px;
    margin: 0px 20px 0px 20px;
    img {
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}
.product-detail {
    p {
        margin: 15px 0px 8px 0px;
        font-size: 15px;
        text-transform: capitalize;
    }
    span {
        font-size: 17px;
        i {
            padding-right: 8px;
        }
    }
}
.mt45 {
    margin-top: 45px;
}
.mt8 {
    margin-top: 8px;
}
.mt50{
    margin-top: 50px;
}
.pl3 {
    padding-left: 3px;
}
.pr3 {
    padding-right: 3px;
}
.btn-strong {
    padding: 4px 25px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    &:focus {
        outline: 0 !important;
    }
}
.footer-list {
    ul {
        list-style: none;
        display: inherit;
        li {
            display: inherit;
            &:first-child {
                font-weight: 500;
            }
            &:last-child {
                a {
                    color: $brand-primary;
                    text-decoration: underline;
                }
            }
            a {
                text-transform: capitalize;
            }
        }
    }
}
//.toll-number {
//    padding: 35px 0px 20px 0px;
//}
.sec-date {
    img {
        height: 24px;
    }
    p {
        line-height: 120%;
    }
}
.pt10 {
    padding-top: 10px;
}
.pr35 {
    padding: 16px 35px 4px 0px;
}
.pl35 {
    padding-left: 35px;
}
.all-data {
    img {
        height: 50px;
    }
    h5 {
        text-transform: uppercase;
        font-weight: 600;
        margin: 0px;
    }
}
.pt15 {
    padding-top: 15px;
}
.pb15 {
    padding-bottom: 15px;
}
.f12 {
    font-size: 12px;
}
.tall {
    text-decoration: none !important;
    color: $base !important;
}
.footers {
    background-color: #dddddd;
    padding: 20px 0px 20px 0px;
}
.mt70 {
    margin-top: 70px;
}
.keep-in-touch {
    padding-top: 20px;
    span {
        font-weight: 600;
        font-size: 12px;
    }
    ul {
        li {
            a {
                i {
                    background-color: #a9a9a9;
                    border-radius: 100%;
                    height: 35px;
                    width: 35px;
                    color: #dddddd;
                    font-size: 22px;
                    padding: 7px 0px 0px 0px;
                    margin: 3px 3px;
                }
            }
        }
    }
}
.login-tab {
    .nav-tabs {
        border-bottom: 3px solid $brand-primary;
        li {
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            a {
                border-radius: 0px;
                border: 0px solid;
                color: $brand-primary !important;
                ;
            }
        }
    }
    .nav-tabs>li.active a {
        background-color: $brand-primary;
        color: $white !important;
        border-color: $brand-primary;
        &:hover {
            background-color: $brand-primary;
            color: $white !important;
            border-color: $brand-primary;
        }
        &:focus {
            border-color: $brand-primary;
        }
    }
    .content-view {
        padding: 10px 20px 20px;
        form {
            margin: 20px 0 0;
            .form-group {
                margin-bottom: 15px;
            }
        }
    }
}
.modal-content {
    border-radius: 0px !important;
}
.form-control {
    background-color: transparent;
    border-color: $input-form;
    color: #909090;;
    border-radius: 0px;
    box-shadow: inset 0 0 0;
    padding: 4px 12px 0px 12px;
    @include placeholder {
        color: #909090;
        text-transform: uppercase;
    }
    @include selection(true) {
        background-color: white;
        color: $brand-primary;
    }
    &:focus {
        box-shadow: inset 0 0 0;
        border-color: initial;
        outline: 0;
    }
}
.forget {
    font-size: 15px;
    font-weight: 500;
}
.button-set {
    button {
        height: 40px;
        width: 40px;
        padding: 5px 0px 0px 0px;
            margin: 0px 6px;
    }
    a {
        color: $white !important;
        font-size: 20px;
    }
}
.about{
    img{
        height: 45px;
    }
    h4{
            font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    }
}
.marall{
        margin: -18px 0px 40px 0px;
}
.buy-data {
    margin: 55px 0px;
}
.offer-title{
    @extend .about;
    h3{
        font-size: 30px;
    }
}
.offer-head{
    h3{
        font-size: 30px;
    }
}
.offer-price{
    h1{
        color:$brand-primary;
        i{
            vertical-align: middle;
    padding-right: 12px;

        }
    }
}
.offer-call{
    h3,h4{
            border: 1px solid $brand-primary;
    padding: 8px 15px;
    display: inline-block;
    }
}
.offer-foot{
    h5{
            font-size: 20px;
    color: #505050;
    }
}
.offer-content {
    background-color: $back;
    padding: 40px 0px 25px 0px;
}
.faq-accordian{
    
    .panel {
    border-radius: 0px;
}
    .panel-heading {
    color: $base;
    background-color: $back;
    border-color: $back;
        padding: 16px 30px;
        h4{
            font-size: 18px;
            font-weight: 600;
                text-align: left;
            span{
                display: flex;
                
                i{
                        position: absolute;
    right: 25px;
                }
            }
        }
}
    .panel-body{
        text-align: left;
    }
}
.contact-title{
    h3{
        color:$brand-primary;
    }
    p{
           font-size: 18px;
    line-height: 130%;
    margin: 0px;
        span{
            font-weight: 500;
        }
    }
    a{
        font-size: 18px;
    }
}
.mt30{
    margin-top: 30px;
}

.pl2{
    padding-left: 2px;
}
.pr2{
    padding-right: 2px;
}
.padtb{
    padding:4px 0px;
}
.camera-banner{

}
.account{
    ul{
        li{
            padding: 0px 20px;
            a{
        img{
            height: 100px;
        }
    } 
        }
    }
   
}
.edit{
        background-color: transparent;
    box-shadow: 0 0 0;
    border: 1px solid $brand-primary;
    text-transform: uppercase;
    padding: 2px 10px 0px 10px;
}
.account-name{
    h4{
        color:$brand-primary;
    }
    p {
    margin: 0px;
    line-height: 150%;
}  
}
.desktop {
    background-color: $foot-border;
    th{
        text-align: center;
        border: 0px solid;
        
    }
   
}
.order-table{
    table{
        border: 1px solid $foot-border;
    }
}
.t-border{
      
            td{
                border-top: 0px solid !important;
                vertical-align: middle !important;
                padding: 20px 0px 20px !important;
            }
       
}
.his-img-hold {
    height: 150px;
    width: 100%;
    overflow: hidden;
    display: block;
    img {
    max-width: 100%;
    max-height: 100%;
}
}
.pro-desc{
    padding: 0px 16px;
    span{
        font-weight: 500;
    font-size: 15px;
    }
}
.hist-price{
    h4{
        color:$brand-primary;
        
        i{
            padding-right: 8px;
            vertical-align: baseline;
        }
    }
}
.btn:hover, .btn:focus, .btn.focus {
  outline: 0;
    text-decoration: none;
}
.renew-btn {
    margin: 8px 0px;
    button{
        font-weight: 500;
        &:focus{
            outline: 0;
        }
    }
}
.bord-right{
    td{
        border-right: 1px solid $foot-border;
        &:last-child{
            border: none;
        }
    }
}
.custom-modal{
    .modal-header {
    padding: 12px 0px 8px 0px;
    border-bottom: 1px solid  $brand-primary;
    background-color: $brand-primary;
        h4{
            color:$white;
            margin: 0px;
        }
}
    .modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 0px solid #e5e5e5;
}
}
.renew-content-footer{
    ul{
        display: inherit;
       
        
            li{
                display: inherit;
            }
       
        
    }
}
textarea.form-control {
    resize: none;
}
.grey-col{
    color:$pro-border;
}
.renew-select{
    position: relative;
      
    z-index: 999;
    select{
        -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-transform: uppercase;
    padding: 0 30px 0 6px;
    width: 100%;
    background-color: transparent;
    outline: 0;
    color: #909090;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
     z-index: 9999;
    position: relative;

}
    &:after{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    height: 34px;
    width: 28px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
    line-height: 34px;
    font-size: 20px;
   
    }
}
.renew-select.gray-select .only-border {
    border: 1px solid $input-form;
}
.renew-select.gray-select:after {
    background-color: $input-form;
}
    .only-border {
    border: 1px solid $input-form;
        width: 100%;
    position: absolute;
    height: 34px;
    top: 0;
       z-index: -1;
}
.mr12{
      margin-right: 12px;
}
.select-list {
    margin-bottom: 20px;
    label {
   font-weight: 500;
    text-transform: uppercase;
}
}
.calender-btn{
    padding: 7px 12px;
    font-size: 14px;
    background-color: $input-form;
    border-radius: 0px;
    color: $white;
    border-color: $input-form;
}
.info{
    span{
        font-size: 18px;
    }
}
.person-p{
    p{
        font-size: 15px;
    }
}
.i-check {
    font-size: 11px;
    color: #515151!important;
    cursor: pointer;
}
.class-forget {
    padding-top: 10px;
    font-size: 16px;
    color:#909090;
}
.iagree {
    vertical-align: sub;
    margin-right: 6px!important;
}
.check-img{
    @extend .his-img-hold;
    height: 120px;
}
.custom-tb{
    border: 0px solid !important;
    margin-bottom: 0px !important;
    tr{
        td{
            border: 0px solid;
            border-top: 0px solid !important;
            
        }
    }
}
.w200{
    min-width: 200px;
    p{
        font-weight: 500;
        text-align: left;
    }
}
.mauto{
    margin: 0 auto;
}
.return-policy {
    color: #acacac;
    font-style: italic;
}
.t-border-none{
    border-top: 0px solid;
   
    padding: 10px 0px 0px;
   
       
            td{
                 vertical-align: middle !important;
            }
     
   
}