<section>
    <div class="buy-banner">
        <img src="img/product/Buy-Back-Value.jpg" class="img-responsive">
    </div>
</section>
<div class="container">
    <section>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="buy-data">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' .</p>
                </div>
            </div>
        </div>

    </section>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="text-center">
                <div class="offer-title">
                    <img src="img/mini-logo.png">
                    <h4>CHECK YOUR BUY BACK VALUE</h4>
                </div>
                <div class="offer-content">
                    <div class="offer-body">
                        <div class="offer-head">
                            <h4>CONGRATULATION YOUR APPROX BUY BACK VALUE FOR THIS PRODUCT IS</h4>
                        </div>
                        <div class="offer-price">
                            <h4><i class="fa fa-inr"></i>10,000/-</h4>
                        </div>
                        <div class="offer-call">
                            <h3>Call us on Toll Free No. to know more</h3>
                        </div>
                        <div class="offer-foot">
                            <h5><sup>*</sup>Price are subject to change</h5>
                        </div>
                    </div>
                </div>
                <div class="faq">
                    <h4>FAQ</h4>
                    <div class="faq-accordian">
                        <uib-accordion close-others="oneAtATime">

                            <uib-accordion-group is-open="status.open">
                                <uib-accordion-heading>
                                    Ok Jeff, be honest. I have $xxx to spend on a digital camera. Which one should I get? <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
                                </uib-accordion-heading>
                                This is just some content to illustrate fancy headings.
                            </uib-accordion-group>
                              <uib-accordion-group is-open="statuss.open">
                                <uib-accordion-heading>
                                   When shopping for a digital camera, I noticed large price discrepancies between
various online shops. Why is this? <i class="pull-right fa" ng-class="{'fa-chevron-down': statuss.open, 'fa-chevron-right': !statuss.open}"></i>
                                </uib-accordion-heading>
                                This is just some content to illustrate fancy headings.
                            </uib-accordion-group>
                              <uib-accordion-group is-open="status2.open">
                                <uib-accordion-heading>
                                    What is an AF-assist lamp, and why do I want one? <i class="pull-right fa" ng-class="{'fa-chevron-down': status2.open, 'fa-chevron-right': !status2.open}"></i>
                                </uib-accordion-heading>
                                This is just some content to illustrate fancy headings.
                            </uib-accordion-group>
                              <uib-accordion-group is-open="status3.open">
                                <uib-accordion-heading>
                                    What is this diopter correction knob that you keep talking about? <i class="pull-right fa" ng-class="{'fa-chevron-down': status3.open, 'fa-chevron-right': !status3.open}"></i>
                                </uib-accordion-heading>
                                This is just some content to illustrate fancy headings.
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
