<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_Camera.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="about">
                    <div class="text-center marall">
                        <img src="img/mini-logo.png">
                        <h4>Cameras</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="row-flex">
            <div class="col-flex">
                <a href="#/product/568f4961cd05a28c021e6521">
                    <div class="camera-banner pr2">
                        <img src="img/camera/c1.jpg" class="img-responsive">
                    </div>
                </a>
            </div>
            <div class="col-flex">
                <a href="#/product/568f4972cd05a28c021e6522">
                    <div class="camera-banner pl2">
                        <img src="img/camera/c2.jpg" class="img-responsive">
                    </div>
                </a>
            </div>
        </div>
        <div class="row-flex">
            <div class="col-flex">
                <a href="#/product/568f4991cd05a28c021e6523">
                    <div class="camera-banners padtb">
                        <img src="img/camera/c3.jpg" class="img-responsive">
                    </div>
                </a>
            </div>
        </div>
        <div class="row-flex">
            <div class="col-flex">
                <a href="#/product/568f49afcd05a28c021e6524">
                    <div class="camera-banner pr2">
                        <img src="img/camera/c4.jpg" class="img-responsive">
                    </div>
                </a>
            </div>
            <div class="col-flex">
                <a href="#/product/568f49c2cd05a28c021e6525">
                    <div class="camera-banner pl2">
                        <img src="img/camera/c5.jpg" class="img-responsive">
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>
