<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_Camera.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="about">
                    <div class="text-center marall">
                        <img src="img/mini-logo.png">
                        <h4>Cameras</h4>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <section>
        <div class="row-flex">
            <div class="col-flex" >
                <div class="camera-banner pr2">
                    <img src="img/camera/c1.jpg" class="img-responsive">
                </div>
            </div>
                <div class="col-flex" >
                <div class="camera-banner pl2">
                    <img src="img/camera/c2.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="row-flex">
            <div class="col-flex">
                <div class="camera-banners padtb">
                    <img src="img/camera/c3.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="row-flex">
            <div class="col-flex">
                <div class="camera-banner pr2">
                    <img src="img/camera/c4.jpg" class="img-responsive">
                </div>
            </div>
               <div class="col-flex">
                <div class="camera-banner pl2">
                    <img src="img/camera/c5.jpg" class="img-responsive">
                </div>
            </div>
        </div>

    </section>
</section>
