<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_Product-Page.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">

                <div class="about">
                    <div class="text-center">
                        <img src="img/mini-logo.png">
                        <h4>COMPARE CAMERAS</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <span>You can add upto 4 Cameras to compare</span>
            </div>
            <div class="compare-table">
                <table class="table">
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <div class="compare-pro">
                                    <div class="close-btn pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="compare-body">
                                        <span>Nikon D5200 (Body with AF-S DX NIKKOR 18-55 mm F/3.5-5.6G VR II Lens) DSLR Camera</span>
                                        <img src="img/product/c1.jpg">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="compare-pro">
                                    <div class="close-btn pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="compare-body">
                                        <span>Nikon D5200 (Body with AF-S DX NIKKOR 18-55 mm F/3.5-5.6G VR II Lens) DSLR Camera</span>
                                        <img src="img/product/c2.jpg">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="add-compare">
                                    <div class="add-title">
                                        <span>Add a Camera to Compare</span>
                                    </div>
                                    <div class="add-body">
                                        <select class="form-control">
                                            <option>Brand</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <br>
                                        <select class="form-control">
                                            <option>Model</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="add-compare">
                                    <div class="add-title">
                                        <span>Add a Camera to Compare</span>
                                    </div>
                                    <div class="add-body">
                                        <select class="form-control">
                                            <option>Brand</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <br>
                                        <select class="form-control">
                                            <option>Model</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="compar-det">
                                    <span>PRICE</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <h4><i class="fa fa-inr"></i>24,712.00</h4>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <h4><i class="fa fa-inr"></i>24,712.00</h4>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="compar-det">
                                    <span>AVAILABILITY</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">

                                    <span>In Stock.</span>
                                    <p>Delivered in 2-3 business days.</p>
                                    <button type="button" class="btn btn-default btn-primary btn-strong">Add To Cart</button>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">

                                    <span>In Stock.</span>
                                    <p>Delivered in 2-3 business days.</p>
                                    <button type="button" class="btn btn-default btn-primary btn-strong">Add To Cart</button>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="compar-det">
                                    <span>WARRANTY</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">

                                    <p>with 2 yearss Nikon India Warranty and Free Transit Insurance. See Details</p>

                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>with 2 yearss Nikon India Warranty and Free Transit Insurance. See Details</p>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <div class="compar-det">
                                    <span>IN THE BOX</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">

                                    <ul>
                                        <li> Warranty Card</li>
                                        <li>Digital Camera D5200 with Lens AF-S DX VR 18 55 mm/ f/3.5 f/5.6 G II 1 Set (Including: Strap)
                                        </li>
                                        <li>AV Cable</li>
                                        <li>Software</li>
                                        <li>Manual and Guide Book</li>
                                        <li>USB Cacble</li>
                                        <li>Eyepiece Cap</li>
                                        <li> Rechargable Battery</li>
                                        <li>Battery Charger</li>
                                    </ul>

                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <ul>
                                        <li> Warranty Card</li>
                                        <li>Digital Camera D5200 with Lens AF-S DX VR 18 55 mm/ f/3.5 f/5.6 G II 1 Set (Including: Strap)
                                        </li>
                                        <li>AV Cable</li>
                                        <li>Software</li>
                                        <li>Manual and Guide Book</li>
                                        <li>USB Cacble</li>
                                        <li>Eyepiece Cap</li>
                                        <li> Rechargable Battery</li>
                                        <li>Battery Charger</li>
                                    </ul>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="spped">
                                    <h4>SHUTTER SPEED</h4>
                                </div>

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="compar-det">
                                    <span>SHUTTER RELEASE 
MODES</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>Release Mode (Single Frame, Continuous L, Continuous H, Self-timer, Delayed Remote ML-L3, Quick-response</p>

                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>Release Mode (Single Frame, Continuous L, Continuous H, Self-timer, Delayed Remote ML-L3, Quick-response</p>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="compar-det">
                                    <span>MAXIMUM SHUTTER
SPEED 
MODES</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>1/4000 sec</p>

                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>1/4000 sec</p>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="compar-det">
                                    <span>SHUTTER TYPE</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>Shutter Type: Electronically- controlled Vertical-travel    Focal-plane Shutter</p>

                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>Shutter Type: Electronically- controlled Vertical-travel    Focal-plane Shutter</p>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                                  <tr>
                            <td>
                                <div class="compar-det">
                                    <span>MINIMUM SHUTTER SPEED</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>1/4000 sec</p>

                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>1/4000 sec</p>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>      
                                <tr>
                            <td>
                                <div class="compar-det">
                                    <span>SHUTTER FLASH SYNC SPEED</span>
                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>X=1/200 sec</p>

                                </div>
                            </td>
                            <td>
                                <div class="compar-det">
                                    <p>X=1/200 sec</p>

                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
