<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="text-center mt135">
<img src="img/error.png" class="img-responsive">
<div class="mt135">
  <h4>Transaction ID : <span class="br-col">TB00234456156</span></h4>
  <h4 class="mt30">We could not find that, Sorry!</h4>
  <div class="buy-now text-center mt30">
      <a href="#/home"><button type="button" class="btn btn-default btn-primary btn-strong ">Home Page</button></a>
  </div>
</div>

      </div>
    </div>
  </div>
</div>
