<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_My-Account.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="about">
                    <div class="text-center">
                        <img src="img/mini-logo.png">
                        <h4>MY ACCOUNT</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div ng-include="template.account"></div>
            </div>
        </div>
    </div>
    <section>
        <div class="container min-hght">
            <div class="row">
                <div class="col-md-12">
                    <div class="order-table">
                        <table class="table">
                            <thead>
                                <tr class="text-center desktop">
                                    <th>SERIAL NO.</th>
                                    <th>DATE </th>
                                    <th>PRODUCT</th>
                                    <th>PRICE </th>
                                    <th>INSURANCE EXPIRE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td class="mobile">1</td>
                                    <td class="mobile">12/5/2015</td>
                                    <td class="mobile">
                                        <div class="his-img-hold">
                                            <img src="img/product/c1.jpg">
                                            <span>Nikon D3300 (Body with AF-S 18-55 mm VR II Kit Lens) DSLR Camera </span>
                                        </div>
                                    </td>
                                    <td class="mobile">DISPATCHED</td>
                                    <td class="mobile">
                                        <button type="submit" class="btn-blue btn-primary btn">PRINT INVOICE</button>
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <td class="mobile">1586972348 </td>
                                    <td class="mobile">5.6.12 </td>
                                    <td class="mobile">5.6.12 </td>
                                    <td class="mobile">DISPATCHED</td>
                                    <td class="mobile">
                                        <button type="submit" class="btn-blue btn btn-primary">PRINT INVOICE</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                </div>

            </div>

        </div>
    </section>
</section>
