<!--

<section>

    <ks-swiper-container slides-per-view="3" slides-per-column="1" space-between="0" pagination-is-active="true" pagination-clickable="false" show-nav-buttons="false" loop="false" autoplay="5000" initial-slide="0" direction="vertical" on-ready="onReadySwiper(swiper)">
        <ks-swiper-slide class="swiper-slide">
            <img src="img/slider/1.jpg" class="img-responsive">

        </ks-swiper-slide>
        <ks-swiper-slide class="swiper-slide">
            <img src="img/slider/1.jpg" class="img-responsive">

        </ks-swiper-slide>
        <ks-swiper-slide class="swiper-slide">
            <img src="img/slider/1.jpg" class="img-responsive">

        </ks-swiper-slide>
    </ks-swiper-container>

</section>
-->

<section>
    <div class="slider">
        <img src="img/slider/1.jpg" class="img-responsive">
    </div>
</section>
<section>
    <div class="row-flex">
        <div class="col-flex red-backgound back-red">
            <div class="mid-product">
              <div class="left-data display-inline">
               <div class="up-image">
                   <img src="img/icon/up.png">
               </div>
                <div class="mid-pro-name">
                   
                    <h4 class="margin0">mobiles</h4>
                    <p class="margin0">for all</p>
                </div>
                </div>
                <div class="mid-product-img">
                    <img src="img/product/1.png" class="img-responsive">
<!--               <div class="cam-hold" ng-style="{'background-image':'url(img/product/1.png)'}"></div>-->
                </div>
            </div>
        </div>
        <div class="col-flex black-backgound back-red">
            <div class="mid-product">
               <div class="left-data display-inline">
                <div class="mid-pro-name">
                  
                   <p class="margin0">Best</p>
                    <h4 class="margin0">computers</h4>
                    
                </div>
                  <div class="up-image">
                   <img src="img/icon/down.png">
               </div>
                </div>
                <div class="mid-product-img2">
                    <img src="img/product/2.png" class="img-responsive">
                </div>
            </div>
        </div>
       <div class="col-flex red-backgound back-red">
            <div class="mid-product">
              <div class="left-data display-inline">
               <div class="up-image">
                   <img src="img/icon/white.png">
               </div>
                <div class="mid-pro-name">
                    <p class="margin0">Best</p>
                    <h4 class="margin0">cameras</h4>
                </div>
                </div>
                <div class="mid-product-img2">
                    <img src="img/product/3.png" class="img-responsive">
<!--               <div class="cam-hold" ng-style="{'background-image':'url(img/product/1.png)'}"></div>-->
                </div>
            </div>
        </div>
        <div class="col-flex black-backgound back-red">
            <div class="mid-product">
               <div class="left-data display-inline">
                <div class="mid-pro-name">
                  
                   <p class="margin0">cool</p>
                    <h4 class="margin0">Accessories</h4>
                    
                </div>
                  <div class="up-image">
                   <img src="img/icon/down.png">
               </div>
                </div>
                <div class="mid-product-img2">
                    <img src="img/product/4.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section>

        <div class="pro-title">
           <div class="display-inline">
            <img src="img/mini-logo.png">
            </div>
            <div class="display-inline">
            <h3 class="pl10">Tag Boss Deals</h3>
            </div>
        </div>
        <div class="row-flex">
            <div class="col-flex" ng-repeat="pro in products track by $index">
                <div class="product-data text-center">
                    <div class="img-hold">
                        <img ng-src="{{pro.image}}" class="img-responsive">
                    </div>
                    <div class="product-detail">
                        <p>{{pro.name}}</p>
                        <span><i class="fa fa-inr"></i>{{pro.price}}</span>
                        
                    </div>
                    <div class="pro-btn mt8">
                        <button type="button" class="btn btn-default btn-primary btn-strong">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="row">
            <div class="mt45">
                <div class="col-md-6 pl3 pr3" ng-repeat="banner in banners track by $index">
                    <div class="banner-img">
                        <img ng-src="{{banner.image}}" class="img-responsive">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section>

           <div class="pro-title">
           <div class="display-inline">
            <img src="img/mini-logo.png">
            </div>
            <div class="display-inline">
            <h3 class="pl10">Mobile Deals Of The Day</h3>
            </div>
        </div>
        <div class="row-flex">
            <div class="col-flex" ng-repeat="pro in product track by $index">
                <div class="product-data text-center">
                    <div class="img-hold">
                        <img ng-src="{{pro.image}}" class="img-responsive">
                    </div>
                    <div class="product-detail">
                        <p>{{pro.name}}</p>
                        <span><i class="fa fa-inr"></i>{{pro.price}}</span>
<!--                        <button type="button" class="btn btn-default btn-primary btn-strong">Buy Now</button>-->
                    </div>
                      <div class="pro-btn mt8">
                        <button type="button" class="btn btn-default btn-primary btn-strong">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt45">
        <div class="row">
            <div class="col-md-12" ng-repeat="ban in banner track by $index">
                <img ng-src="{{ban.image}}" class="img-responsive">
            </div>
        </div>
    </section>
</div>