<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_Insurance-Page.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="about">
                    <div class="text-center marall">
                        <img src="img/mini-logo.png">
                        <h4>BENIFITS OF TAG BOSS INSURANCE</h4>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                </div>
            </div>
        </div>
        <hr>
        <section class="mt30">
            <div class="row">
                <div class="col-md-3 col-sm-4 hidden-xs">
                    <div class="product-acc">
                        <uib-accordion close-others="true">

                            <uib-accordion-group is-open="accordian[0].isFirstOpen"> 
                                <uib-accordion-heading>
                                    CATEGORY <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[0].isFirstOpen, 'fa-chevron-right': !accordian[0].isFirstOpen}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Cellphone</label>
                                        <br>
                                        <input id="checkbox-2" class="checkbox-custom dis-none" name="checkbox-2" type="checkbox">
                                        <label for="checkbox-2" class="checkbox-custom-label checkbox-custom">Camera</label>
                                        <br>
                                        <input id="checkbox-3" class="checkbox-custom dis-none" name="checkbox-3" type="checkbox">
                                        <label for="checkbox-3" class="checkbox-custom-label checkbox-custom">Computer</label>
                                        <br>
                                        <input id="checkbox-4" class="checkbox-custom dis-none" name="checkbox-4" type="checkbox">
                                        <label for="checkbox-4" class="checkbox-custom-label checkbox-custom">Accessories</label>

                                        <br>

                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="accordian[1].isFirstOpen">
                                <uib-accordion-heading>
                                    BRAND <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[1].isFirstOpen, 'fa-chevron-right': !accordian[1].isFirstOpen}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input id="checkbox-5" class="checkbox-custom dis-none" name="checkbox-5" type="checkbox">
                                        <label for="checkbox-5" class="checkbox-custom-label checkbox-custom">Apple</label>
                                        <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Apple-->
                                        <br>
                                        <input id="checkbox-6" class="checkbox-custom dis-none" name="checkbox-6" type="checkbox">
                                        <label for="checkbox-6" class="checkbox-custom-label checkbox-custom">Samsung</label>

                                        <br>
                                        <input id="checkbox-7" class="checkbox-custom dis-none" name="checkbox-7" type="checkbox">
                                        <label for="checkbox-7" class="checkbox-custom-label checkbox-custom">Lenovo</label>

                                        <br>
                                        <input id="checkbox-8" class="checkbox-custom dis-none" name="checkbox-8" type="checkbox">
                                        <label for="checkbox-8" class="checkbox-custom-label checkbox-custom">Micromax</label>

                                        <br>
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-9" class="checkbox-custom-label checkbox-custom">Lava</label>
                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="accordian[2].isFirstOpen">
                                <uib-accordion-heading>
                                    INSURANCE <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[2].isFirstOpen, 'fa-chevron-right': !accordian[2].isFirstOpen}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Syska</label>

                                        <br>
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Tagboss</label>

                                        <br>
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Appsdaily</label>


                                    </form>
                                </div>
                            </uib-accordion-group>

                        </uib-accordion>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                   <div class="hidden-sm hidden-lg visible-xs">
                                         <div class="product-acc">
                        <uib-accordion close-others="true">

                            <uib-accordion-group is-open="accordian[0].isFirstOpen"> 
                                <uib-accordion-heading>
                                    CATEGORY <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[0].isFirstOpen, 'fa-chevron-right': !accordian[0].isFirstOpen}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Cellphone</label>
                                        <br>
                                        <input id="checkbox-2" class="checkbox-custom dis-none" name="checkbox-2" type="checkbox">
                                        <label for="checkbox-2" class="checkbox-custom-label checkbox-custom">Camera</label>
                                        <br>
                                        <input id="checkbox-3" class="checkbox-custom dis-none" name="checkbox-3" type="checkbox">
                                        <label for="checkbox-3" class="checkbox-custom-label checkbox-custom">Computer</label>
                                        <br>
                                        <input id="checkbox-4" class="checkbox-custom dis-none" name="checkbox-4" type="checkbox">
                                        <label for="checkbox-4" class="checkbox-custom-label checkbox-custom">Accessories</label>

                                        <br>

                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="accordian[1].isFirstOpen">
                                <uib-accordion-heading>
                                    BRAND <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[1].isFirstOpen, 'fa-chevron-right': !accordian[1].isFirstOpen}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input id="checkbox-5" class="checkbox-custom dis-none" name="checkbox-5" type="checkbox">
                                        <label for="checkbox-5" class="checkbox-custom-label checkbox-custom">Apple</label>
                                        <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Apple-->
                                        <br>
                                        <input id="checkbox-6" class="checkbox-custom dis-none" name="checkbox-6" type="checkbox">
                                        <label for="checkbox-6" class="checkbox-custom-label checkbox-custom">Samsung</label>

                                        <br>
                                        <input id="checkbox-7" class="checkbox-custom dis-none" name="checkbox-7" type="checkbox">
                                        <label for="checkbox-7" class="checkbox-custom-label checkbox-custom">Lenovo</label>

                                        <br>
                                        <input id="checkbox-8" class="checkbox-custom dis-none" name="checkbox-8" type="checkbox">
                                        <label for="checkbox-8" class="checkbox-custom-label checkbox-custom">Micromax</label>

                                        <br>
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-9" class="checkbox-custom-label checkbox-custom">Lava</label>
                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="accordian[2].isFirstOpen">
                                <uib-accordion-heading>
                                    INSURANCE <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[2].isFirstOpen, 'fa-chevron-right': !accordian[2].isFirstOpen}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Syska</label>

                                        <br>
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Tagboss</label>

                                        <br>
                                        <input id="checkbox-9" class="checkbox-custom dis-none" name="checkbox-9" type="checkbox">
                                        <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Appsdaily</label>


                                    </form>
                                </div>
                            </uib-accordion-group>

                        </uib-accordion>
                    </div>
                   </div>
                    <section>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="pro in product track by $index">
                                <div class="product-detail mb70">
                                    <div class="check-img">
                                        <a href="">
                                            <img ng-src="{{pro.image}}" class="img-responsive mauto">
                                        </a>
                                    </div>
                                    <div class="product-title">
                                        <a href="">{{pro.name}}</a>
                                    </div>
                                    <div class="product-price">
                                        <div class="pro-border-top">
                                            <div class="pro-final">
                                                <span><i class="fa fa-inr"></i>{{pro.price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-border-top">
                                        <div class="pro-usp">
                                            <ul>
                                                <li ng-repeat="sp in pro.spec"><span class="font-12">• {{sp}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-border-top">
                                        <div class="form-group pro-cat">
                                   <input id="checkbox-10" class="checkbox-custom dis-none" name="checkbox-10" type="checkbox">
                                        <label for="checkbox-10" class="checkbox-custom-label checkbox-custom font-12">Add to compare</label>
                                    </div>
                                    </div>
                                    <div class="buy-now text-center">
                                        <button type="button" class="btn btn-default btn-primary btn-strong">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>
