<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_My-Account.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="about">
                    <div class="text-center marall">
                        <img src="img/mini-logo.png">
                        <h4>MY ACCOUNT</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div ng-include="template.account"></div>
            </div>
        </div>
    </div>
    <section>
        <div class="container min-hght">
            <div class="btop mt8">
            <div class="row">
               <div class="mt30">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center person-p">
                        <p>Dear Manan Vora, TagBoss has assigned Mr. Mandar Kalzunkar to be your personalised manager. His contact details are mentioned below:</p>
                        <div class="info mt30">
                            <span>Mr. Mandar Kalzunkar</span>
                            <br>
                            <span>Tel: 8454986254</span>
                            <br>
                            <span>mandar@tingmail.in</span>
                        </div>
                        <div class="mt30">
                        <button type="submit" class="btn-blue btn btn-primary btn-strong" data-toggle="modal" data-target="#myModal">Send us a query</button>
                        </div>
                    </div>

                </div>
                         </div>
  </div>
        </div>
        
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content custom-modal">
                            <div class="modal-header ">
<!--                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                <h4 class="modal-title text-center" id="myModalLabel">SEND US A QUERY</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                   <div class="pb15">
                                    <div class="col-md-6">
                                        <form>
                                            <div class="input-typ">
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                            </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                        <div class="input-typ">
                                            <input type="text" class="form-control" placeholder="Email">
                                        </div>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="mt8">
                                    <div class="col-md-12">
                                        <div class="renew-select gray-select">
                                        <select class="form-control">
                                            <option>Canon D3300</option>
                                            <option>Canon D3300</option>
                                            <option>Canon D3300</option>
                                            <option>Canon D3300</option>
                                            <option>Canon D3300</option>
                                        </select>
                                        <span class="only-border"></span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mt8">
                                    <div class="col-md-12">
                                       <form>
                                        <textarea class="form-control" rows="5"></textarea>
                                        </form>
                                    </div>
                                    </div>
                                </div>
<!--                                <button type="button" class="btn btn-primary text-center">Save changes</button>-->
                            </div>
                            <div class="modal-footer text-center">
                             <button type="button" class="btn btn-primary text-center btn-strong">SEND</button>
<!--
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
-->
                            </div>
                        </div>
                    </div>
                </div>
    
        </div>
    </section>
</section>
