<section>
   <div class="buy-banner">
      <img src="img/product/Tag-Boss_Product-Page.jpg" class="img-responsive">
   </div>
   <div class="container">
     <div class="row">
         <div class="col-md-offset-1 col-md-10">
             <div class="about">
                <div class="text-center marall">
                 <img src="img/mini-logo.png">
                 <h4>DSLA & MIRRORLESS</h4>
                 </div>

             </div>
         </div>
     </div>
     <!-- <div class="row">
         <div class="col-md-12">
            <div class="compare-product">
               <div class="btn-righ">
                  <i class="fa fa-times"></i>
               </div>
               <div class="row-flex f-flex">
                  <div class="col-flex c-flex">
                     <div class="copm-data">
                        <div class="cmp-close pull-right">
                           <i class="fa fa-times"></i>
                        </div>
                        <div class="row-flex">
                           <div class="col-flex text-center">
                              <div class="comp1 display-inline">
                                 <img src="img/product/minic1.jpg">
                              </div>
                           </div>
                           <div class="col-flex">
                              <div class="comp-nm display-inline">
                                 <span class="f12">Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-flex c-flex">
                     <div class="copm-data">
                        <div class="cmp-close pull-right">
                           <i class="fa fa-times"></i>
                        </div>
                        <div class="row-flex">
                           <div class="col-flex text-center">
                              <div class="comp1 display-inline">
                                 <img src="img/product/minic1.jpg">
                              </div>
                           </div>
                           <div class="col-flex">
                              <div class="comp-nm display-inline">
                                 <span class="f12">Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-flex c-flex">
                     <div class="copm-data">
                        <div class="cmp-close pull-right">
                           <i class="fa fa-times"></i>
                        </div>
                        <div class="row-flex">
                           <div class="col-flex text-center">
                              <div class="comp1 display-inline">
                                 <img src="img/product/minic1.jpg">
                              </div>
                           </div>
                           <div class="col-flex">
                              <div class="comp-nm display-inline">
                                 <span class="f12">Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-flex c-flex">
                     <div class="copm-data">
                        <div class="cmp-close pull-right">
                           <i class="fa fa-times"></i>
                        </div>

                                <div class="row-flex">
                                    <div class="col-flex text-center">
                                        <div class="comp1 display-inline">
                                            <img src="img/product/minic1.jpg">
                                        </div>
                                    </div>
                                    <div class="col-flex">
                                        <div class="comp-nm display-inline">
                                            <span class="f12">Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                                        </div>
                                    </div>
                                </div>

                        <div class="add-pro-body">
                           <span>ADD ANOTHER PRODUCT</span>
                        </div>

                     </div>
                  </div>
                  <div class="col-flex c-flex">
                     <div class="comp-button text-center mt22">
                        <button type="button" class="btn btn-default btn-primary btn-strong">COMPARE</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
      <div class="row hidden-xs">
         <div class="col-md-offset-6 col-md-6 ">
            <div class="filter-type mt30">
               <ul class="mb8">
                  <li>SORT BY: </li>
                  <li><a href="">Popular </a></li>
                  <li><a href="">Discount </a></li>
                  <li><a href="">High Price</a> </li>
                  <li><a href="">Low Price </a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="pro-border-bottom hidden-xs"></div>
      <section class="mt30">
         <div class="row">
            <div class="col-md-3 col-sm-4 hidden-xs">
               <div class="product-acc">
                  <uib-accordion close-others="true">
                     <uib-accordion-group is-open="accordian[0].isFirstOpen">
                        <uib-accordion-heading>
                           BRAND <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[0].isFirstOpen, 'fa-chevron-right': !accordian[0].isFirstOpen}"></i>
                        </uib-accordion-heading>
                        <div class="pro-cat">
                           <form action="demo_form.asp" method="get">
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Nikon
                                 <span>56</span>
                              </label>
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Sony
                                 <span>56</span>
                              </label>
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Pentax
                                 <span>56</span>
                              </label>
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Fujifilms
                                 <span>56</span>
                              </label>
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">olympus
                                 <span>56</span>
                              </label>
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">panasonic
                                 <span>56</span>
                              </label>
                              <br>
                           </form>
                        </div>
                     </uib-accordion-group>
                     <uib-accordion-group is-open="accordian[1].isFirstOpen">
                        <uib-accordion-heading>
                           PRICE <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[1].isFirstOpen, 'fa-chevron-right': !accordian[1].isFirstOpen}"></i>
                        </uib-accordion-heading>
                        <div class="pro-cat">
                           <form action="demo_form.asp" method="get">
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                 <span>2</span>
                              </label>

                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                 <span>2</span>
                              </label>

                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                 <span>2</span>
                              </label>

                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                 <span>2</span>
                              </label>

                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                 <span>2</span>
                              </label>


                           </form>
                        </div>
                     </uib-accordion-group>
                     <uib-accordion-group is-open="accordian[2].isFirstOpen">
                        <uib-accordion-heading>
                           TYPE <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[2].isFirstOpen, 'fa-chevron-right': !accordian[2].isFirstOpen}"></i>
                        </uib-accordion-heading>
                        <div class="pro-cat">
                           <form action="demo_form.asp" method="get">
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Mirrorless
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone">  <span>2</span>-->
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">DSLR
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Camera" value="Camera" checked>  -->
                              <br>


                           </form>
                        </div>
                     </uib-accordion-group>
                     <uib-accordion-group is-open="accordian[3].isFirstOpen">
                        <uib-accordion-heading>
                           MEGAPIXEL <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[3].isFirstOpen, 'fa-chevron-right': !accordian[3].isFirstOpen}"></i>
                        </uib-accordion-heading>
                        <div class="pro-cat">
                           <form action="demo_form.asp" method="get">
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">14 to 16 MP
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone"> 10 to 14 MP <span>2</span>-->
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">14 to 16 MP
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> 14 to 16 MP <span>24</span>-->
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Cellphone
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> 14 to 16 MP -->
                              <br>


                           </form>
                        </div>
                     </uib-accordion-group>
                     <uib-accordion-group is-open="accordian[4].isFirstOpen">
                        <uib-accordion-heading>
                           COLOR <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[4].isFirstOpen, 'fa-chevron-right': !accordian[4].isFirstOpen}"></i>
                        </uib-accordion-heading>
                        <div class="pro-cat">
                           <form action="demo_form.asp" method="get">
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Black
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Black <span>2</span>-->
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Red
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> Red <span>24</span>-->
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">White
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> White-->
                              <br>
                              <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                              <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Silver
                                 <span>24</span>
                              </label>
                              <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> Silver<span>24</span>-->
                              <br>


                           </form>
                        </div>
                     </uib-accordion-group>

                  </uib-accordion>
               </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
               <section class="hidden-sm hidden-lg visible-xs">
                  <div class="product-acc">
                     <uib-accordion close-others="true">

                        <uib-accordion-group is-open="accordian[0].isFirstOpen">
                           <uib-accordion-heading>
                              BRAND <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[0].isFirstOpen, 'fa-chevron-right': !accordian[0].isFirstOpen}"></i>
                           </uib-accordion-heading>
                           <div class="pro-cat">
                              <form action="demo_form.asp" method="get">
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Nikon
                                    <span>56</span>
                                 </label>

                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Sony
                                    <span>56</span>
                                 </label>

                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Pentax
                                    <span>56</span>
                                 </label>
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Fujifilms
                                    <span>56</span>
                                 </label>

                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">olympus
                                    <span>56</span>
                                 </label>
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">panasonic
                                    <span>56</span>
                                 </label>

                                 <br>

                              </form>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group is-open="accordian[1].isFirstOpen">
                           <uib-accordion-heading>
                              PRICE <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[1].isFirstOpen, 'fa-chevron-right': !accordian[1].isFirstOpen}"></i>
                           </uib-accordion-heading>
                           <div class="pro-cat">
                              <form action="demo_form.asp" method="get">
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                    <span>2</span>
                                 </label>

                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                    <span>2</span>
                                 </label>

                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                    <span>2</span>
                                 </label>

                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                    <span>2</span>
                                 </label>

                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Rs. 10001 - Rs. 15000
                                    <span>2</span>
                                 </label>


                              </form>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group is-open="accordian[2].isFirstOpen">
                           <uib-accordion-heading>
                              TYPE <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[2].isFirstOpen, 'fa-chevron-right': !accordian[2].isFirstOpen}"></i>
                           </uib-accordion-heading>
                           <div class="pro-cat">
                              <form action="demo_form.asp" method="get">
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Mirrorless
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone">  <span>2</span>-->
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">DSLR
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Camera" value="Camera" checked>  -->
                                 <br>


                              </form>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group is-open="accordian[3].isFirstOpen">
                           <uib-accordion-heading>
                              MEGAPIXEL <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[3].isFirstOpen, 'fa-chevron-right': !accordian[3].isFirstOpen}"></i>
                           </uib-accordion-heading>
                           <div class="pro-cat">
                              <form action="demo_form.asp" method="get">
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">14 to 16 MP
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone"> 10 to 14 MP <span>2</span>-->
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">14 to 16 MP
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> 14 to 16 MP <span>24</span>-->
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Cellphone
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> 14 to 16 MP -->
                                 <br>


                              </form>
                           </div>
                        </uib-accordion-group>
                        <uib-accordion-group is-open="accordian[4].isFirstOpen">
                           <uib-accordion-heading>
                              COLOR <i class="pull-right fa" ng-class="{'fa-chevron-down': accordian[4].isFirstOpen, 'fa-chevron-right': !accordian[4].isFirstOpen}"></i>
                           </uib-accordion-heading>
                           <div class="pro-cat">
                              <form action="demo_form.asp" method="get">
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Black
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Black <span>2</span>-->
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Red
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> Red <span>24</span>-->
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">White
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> White-->
                                 <br>
                                 <input id="checkbox-1" class="checkbox-custom dis-none" name="checkbox-1" type="checkbox">
                                 <label for="checkbox-1" class="checkbox-custom-label checkbox-custom">Silver
                                    <span>24</span>
                                 </label>
                                 <!--                                        <input type="checkbox" name="Camera" value="Camera" checked> Silver<span>24</span>-->
                                 <br>


                              </form>
                           </div>
                        </uib-accordion-group>

                     </uib-accordion>
                  </div>
               </section>
               <section class="hidden-sm hidden-lg visible-xs">
                  <div class="row">

                     <div class="col-xs-12 ">
                        <div class="filter-type mt30">
                           <ul class="mb8">
                              <li>SORT BY: </li>
                              <li><a href="">Popular </a></li>
                              <li><a href="">Discount </a></li>
                              <li><a href="">High Price</a> </li>
                              <li><a href="">Low Price </a></li>
                           </ul>
                        </div>
                     </div>

                  </div>
                  <div class="pro-border-bottom"></div>
               </section>
               <section>
                  <div class="row">
                     <div class="col-md-3 col-xs-6" ng-repeat="pro in products track by $index">
                        <div class="hover-btn">
                           <div class="product-detail mb70 ">
                              <div class="check-img pos-rel">
                                 <a href="">
                                    <img ng-src="{{pro.mainImg|uploadpath}}" class="img-responsive mauto">
                                 </a>
                                 <div class="second-layer">
                                    <div class="button-quick mt45">
                                       <button type="button" class="btn btn-default btn-primary btn-strong" ng-click="openQuick(pro);">Quick View</button>
                                    </div>
                                 </div>
                              </div>
                              <div class="product-title">
                                 <a href="#/product-detail/{{pro._id}}">{{pro.name | cut:false:56:' . . .'}}</a>
                              </div>
                              <div class="product-price">
                                 <div class="pro-border-top">
                                    <div class="pro-final">
                                       <span><i class="fa fa-inr"></i>{{pro.price|currency:""}}</span>
                                    </div>
                                 </div>
                              </div>
                              <div class="pro-border-top">
                                 <div class="pro-usp renew-content-footer">
                                    <ul>
                                       <li ng-repeat="sp in pro.keyword">
                                          <span class="font-12">• {{sp.name}}</span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="pro-border-top">
                                 <div class="form-group pro-cat">
                                    <input id="checkbox-10" class="checkbox-custom dis-none" name="checkbox-10" type="checkbox">
                                    <label for="checkbox-10" class="checkbox-custom-label checkbox-custom font-12">Add to compare</label>
                                 </div>
                              </div>
                              <div class="buy-now text-center">
                                 <button type="button" class="btn btn-default btn-primary btn-strong">Buy Now</button>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </section>
   </div>
</section>
