<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_Product-Page.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <!--
                <div class="about">
                    <div class="text-center">
                        <img src="img/mini-logo.png">
                        <h4>DSLR & MIRRORLESS</h4>
                    </div>

                </div>
-->
                <div class="compare-product">
                   
                    <div class="row-flex">
                         <div class="col-flex">
                                <div class="copm-data">
                                    <div class="cmp-close pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="comp1">
                                        <img src="img/product/minic1.jpg">
                                    </div>
                                    <div class="comp-nm">
                                        <span>Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="copm-data">
                                    <div class="cmp-close pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="comp1">
                                        <img src="img/product/minic1.jpg">
                                    </div>
                                    <div class="comp-nm">
                                        <span>Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="copm-data">
                                    <div class="cmp-close pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="comp1">
                                        <img src="img/product/minic1.jpg">
                                    </div>
                                    <div class="comp-nm">
                                        <span>Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="copm-data">
                                    <div class="cmp-close pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                    <div class="comp1">
                                        <img src="img/product/minic1.jpg">
                                    </div>
                                    <div class="comp-nm">
                                        <span>Nikon D3300 (Body withAF-S 18-55 mm VR II Kit Lens) DS...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="comp-button">
                                    <button type="button" class="btn btn-default btn-primary btn-strong">COMPARE</button>
                                </div>
                        
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-6 col-md-6">
                <div class="filter-type">
                    <ul>
                        <li>SORT BY: </li>
                        <li>Popular </li>
                        <li>Discount </li>
                        <li>High Price </li>
                        <li>Low Price </li>
                    </ul>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-acc">
                        <uib-accordion close-others="oneAtATime">

                            <uib-accordion-group is-open="status.open">
                                <uib-accordion-heading>
                                    BRAND <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Nikon <span>1</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> Sony <span>34</span>
                                        <br>
                                        <input type="checkbox" name="Computer" value="Computer" checked> Pentax <span>54</span>
                                        <br>
                                        <input type="checkbox" name="Accessories" value="Accessories" checked> Fujifilms <span>23</span>
                                        <br>
                                        <input type="checkbox" name="Accessories" value="Accessories" checked> olympus <span>23</span>
                                        <br>
                                        <input type="checkbox" name="Accessories" value="Accessories" checked> panasonic <span>56</span>
                                        <br>

                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="statuss.open">
                                <uib-accordion-heading>
                                    PRICE <i class="pull-right fa" ng-class="{'fa-chevron-down': statuss.open, 'fa-chevron-right': !statuss.open}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Rs. 10001 - Rs. 15000 <span>2</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> Rs. 10001 - Rs. 15000 <span>2</span>
                                        <br>
                                        <input type="checkbox" name="Computer" value="Computer" checked> Rs. 20001 - Rs. 30000 <span>2</span>
                                        <br>
                                        <input type="checkbox" name="Accessories" value="Accessories" checked> 30001 - Rs. 50000 <span>2</span>
                                        <br>
                                        <input type="checkbox" name="Accessories" value="Accessories" checked> Rs. 50001 and Above <span>2</span>


                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="status2.open">
                                <uib-accordion-heading>
                                    TYPE <i class="pull-right fa" ng-class="{'fa-chevron-down': status2.open, 'fa-chevron-right': !status2.open}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Mirrorless <span>2</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> DSLR <span>24</span>
                                        <br>


                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="status3.open">
                                <uib-accordion-heading>
                                    MEGAPIXEL <i class="pull-right fa" ng-class="{'fa-chevron-down': status3.open, 'fa-chevron-right': !status3.open}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input type="checkbox" name="Cellphone" value="Cellphone"> 10 to 14 MP <span>2</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> 14 to 16 MP <span>24</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> 14 to 16 MP <span>24</span>
                                        <br>


                                    </form>
                                </div>
                            </uib-accordion-group>
                            <uib-accordion-group is-open="status4.open">
                                <uib-accordion-heading>
                                    COLOR <i class="pull-right fa" ng-class="{'fa-chevron-down': status4.open, 'fa-chevron-right': !status4.open}"></i>
                                </uib-accordion-heading>
                                <div class="pro-cat">
                                    <form action="demo_form.asp" method="get">
                                        <input type="checkbox" name="Cellphone" value="Cellphone"> Black <span>2</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> Red <span>24</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> White<span>24</span>
                                        <br>
                                        <input type="checkbox" name="Camera" value="Camera" checked> Silver<span>24</span>
                                        <br>


                                    </form>
                                </div>
                            </uib-accordion-group>

                        </uib-accordion>
                    </div>
                </div>
                <div class="col-md-9">
                    <section>
                        <div class="row">
                            <div class="col-md-3" ng-repeat="pro in product track by $index">
                                <div class="product-detail">
                                    <div class="product-img-hold">
                                        <a href="">
                                            <img src="{{pro.image}}" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="product-title">
                                        <a href="">{{pro.name}}</a>
                                    </div>
                                    <div class="product-price">
                                        <div class="pro-border-top">
                                            <div class="pro-final">
                                                <span><i class="fa fa-inr"></i>{{pro.price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-border-top">
                                        <div class="pro-usp">
                                            <ul>
                                                <li ng-repeat="sp in pro.spec"><span>{{sp}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-border-top">
                                        <input type="checkbox" name="Computer" value="Computer" checked><span>Add to compare </span>
                                    </div>
                                    <div class="buy-now">
                                        <button type="button" class="btn btn-default btn-primary btn-strong">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>
