<section>
       <div class="buy-banner">
        <img src="img/product/Tag-Boss_My-Account.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="about">
                   <div class="text-center marall">
                    <img src="img/mini-logo.png">
                    <h4>MY ACCOUNT</h4>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div ng-include="template.account"></div>
            </div>
        </div>
    </div>
    <section>
    
        <div class="container min-hght">
           <div class="btop mt8">
    <div class="row ">
       <div class="mt30">
        <div class="col-md-4">
            <div class="account-name">
               <button type="submit" class="pull-right edit">edit</button>
                <p>Name:<span>Manan Vora</span></p>
                <p>Email:<span>mananvora@me.com</span> </p>
                <p>Phone: <span>+91 98904 46192</span></p>
                <h4 class="h5-class">CHANGE PASSWORD</h4>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="account-name">
               <button type="submit" class="pull-right edit">edit</button>
               <h4 class="h5-class mar0 class-p">BILLING ADDRESS</h4>
                <p>Manan Vora</p>
                <p>B-808 Sambhavnath Apt.</p>
                <p>Sudha Park, Garodia Nagar,</p>
                <p>Ghatkopar east,</p>
                <p>Mumbai, Maharashtra.</p>

            </div>
                <div class="account-name mt45">
               <button type="submit" class="pull-right edit">edit</button>
               <h4 class="h5-class mar0 class-p">SHIPPING ADDRESS</h4>
                <p>Manan Vora</p>
                <p>B-808 Sambhavnath Apt.</p>
                <p>Sudha Park, Garodia Nagar,</p>
                <p>Ghatkopar east,</p>
                <p>Mumbai, Maharashtra.</p>

            </div>
        </div>
        </div>
    </div>
</div>
   </div>
    </section>
</section>
