<section>
    <div class="buy-banner">
        <img src="img/product/Tag-Boss_Wishlist.jpg" class="img-responsive">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="about">
                    <div class="text-center marall">
                        <img src="img/mini-logo.png">
                        <h4>Wishlist</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="product-img-hold">
                        <img src="img/product/c1.jpg" class="img-resposive">
                    </div>

                </div>
                <div class="col-md-8">

                    <div class="renew-content-title pro-border-bottom">
                        <h4 class="break-wrd">Nikon D3300 (Body with AF-S 18-55 mm VR II
Kit Lens) DSLR Camera (Black)</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <h4 class="login"><i class="fa fa-inr pr6"></i>24,712.00 </h4>
                            </div>
                            <div class="wishlis-body-data">
                                <span class="br-col">INSTOCK:</span>
                                <p>Delivered in 2-3 business days</p>
                            </div>
                            <div class="wish-btn">
                                 <button type="button" class="btn btn-primary btn-strong">Add to Cart</button>
                            </div>
                            <div class="wish-remove pt10">
                                <a href="" class="txt-dec br-col">Remove from List</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="pro-body-feature renew-content-footer pt10 font-18">
                        <ul>
                            <li><span>•</span> 24.2 Megapixel Camera</li>
                            <li><span>•</span> CMOS Image Sensor</li>
                            <li><span>•</span> Full HD Recording</li>
                         
                        </ul>
                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
