<div class="account">
  <ul>
    <li ui-sref="profile" ui-sref-active="yellow-btn" class="mb7"><a href=""><img src="img/account/a1.png"></a></li>
      <li ui-sref="orders" ui-sref-active="yellow-btn" class="mb7"><a href=""><img src="img/account/a2.png"></a></a></li>
      <li ui-sref="history" ui-sref-active="yellow-btn" class="mb7"><a href=""><img src="img/account/a3.png"></a></a></li>
      <li ui-sref="personalized-manager" ui-sref-active="yellow-btn"><a href=""><img src="img/account/a4.png"></a></a></li>
  </ul>
</div>