<footer>
    <div class="footers mt70">
        <div class="container">
           <div class="pb15 pl5">
            <div class="row">
                <div class="col-md-8">
                    <div class="bright bright2">
                        <div class="row-flex d-flex">
                            <div class="col-flex c-flex">
                                <div class="footer-list">
                                    <ul>
                                        <li>CELLPHONE</li>
                                        <li><a href="">Apple</a></li>
                                        <li><a href="">Nexus</a></li>
                                        <li><a href="">Samsumg</a></li>
                                        <li><a href="">Lava</a></li>
                                        <li><a href="">Micromax</a></li>
                                        <li><a href="">Karbon</a></li>
                                        <li><a href="" class="f-a" >View More</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-flex c-flex">
                                <div class="footer-list">
                                    <ul>
                                        <li>CAMERA</li>
                                        <li><a href="">Sony</a></li>
                                        <li><a href="">Canon</a></li>
                                        <li><a href="">Nikon</a></li>
                                        <li><a href="">Fuji</a></li>
                                        <li><a href="">Samsung</a></li>
                                        <li><a href="">Olympus</a></li>
                                        <li><a href="" class="f-a">View More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-flex c-flex">
                                <div class="footer-list">
                                    <ul>
                                        <li>COMPUTER</li>
                                        <li><a href="">Apple</a></li>
                                        <li><a href="">Dell</a></li>
                                        <li><a href="">HP</a></li>
                                        <li><a href="">Lenovo</a></li>
                                        <li><a href="">Samsung</a></li>
                                        <li><a href="">Vaio</a></li>
                                        <li><a href="" class="f-a">View More</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-flex c-flex">
                                <div class="footer-list">
                                    <ul>
                                        <li>ACCESSORIES</li>
                                        <li><a href="">Headphones</a></li>
                                        <li><a href="">Camera Bags</a></li>
                                        <li><a href="">Camera Covers</a></li>
                                        <li><a href="">Tripods</a></li>
                                        <li><a href="">Lense Cleaner</a></li>
                                        <li><a href="">Bluetooths</a></li>
                                        <li><a href="" class="f-a">View More</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-flex c-flex">
                                <div class="footer-list">
                                    <ul>
                                        <li>TAGBOSS</li>
                                        <li><a href="#/about-us">About Us</a></li>
                                        <li><a href="#/terms-policy">Privacy Policy</a></li>
                                        <li><a href="#/terms-condition">Terms & Conditions</a></li>
                                        <li><a href="#/contact-us">Contact Us</a></li>
                                        <li><a href="">Careers</a></li>
                                        <li><a href="">Press</a></li>
                                        <li><a href="" class="tall">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pl0 txt-center">
                    <div class="toll text-center display-inline pr35 bright bright2">
                        <div class="toll-number ">
                            <h3 class="margin0">Toll Free No.:</h3>
                            <h3 class="margin0">+919223322999</h3>
                        </div>
                        <div class="keep-in-touch">
                            <span>KEEP IN TOUCH</span>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="security display-inline text-center pl35">
                        <div class="sec-date">
                            <img src="img/icon/lock.png">
                            <p class="margin0 pt10">100% Safe & </p>
                            <p>Secure Shopping</p>
                        </div>
                    </div>

                </div>
            </div>
             </div>
              <div class="btop pt15">
            <div class="row" ng-controller="FooterCtrl">
               <div class="col-md-1"></div>
                <div class="col-md-2 col-xs-4" ng-repeat="foot in footer track by $index">
                    <div class="all-data">
                        <div class="row pdtop">
                            <div class="col-md-4 col-xs-5 padding0 txt-center">
                                <div class="display-inline">
                                    <img ng-src="{{foot.image}}">
                                </div>
                            </div>
                            <div class="col-md-7 col-xs-5 padding0">
                                <div class="display-inline pt15">
                                    <h5>{{foot.name}}</h5>
                                    <h5>{{foot.name2}}</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
     
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                    <p class="footer-d di-mb">© 2015 TagBoss.com</p>
               
                <div class="all-data display-inline m-auto di-mb">
                    <img src="img/footer.png" class="d-ffoter m-auto">
                </div>
                <div class="f12 display-inline d-block txt-center">
                    <a href="http://tingdigital.in/" target="_blank" class="footer-d">Designed by Ting</a>
                </div>
            </div>

        </div>
        
    </div>
</footer>
