<header ng-controller="headerctrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!--
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><img src="img/logo.png" alt="logo" width="20"> </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div>
-->
            <div class="header-main1">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <img src="img/logo.png" class="img-responsive" alt="logo" title="logo">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="top-compo">
                            <div class="top-cart">
                                <a href="#">
                                    <ul>
                                        <li>
                                            <i class="fa fa-shopping-cart"></i>
                                        </li>
                                        <li>
                                            <p>Cart</p>
                                        </li>
                                        <li>
                                            <p>0</p>
                                        </li>
                                    </ul>

                                </a>


                            </div>
                            <div class="top-cart">
                                <ul>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <p>wishlist</p>
                                    </li>
                                    <li>
                                        <p>0</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-login">
                                <ul>
                                    <li>
                                        <a href="#">Sign Up</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="openLogin()">login</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </nav>
    <div class="container">
             <div class="header-main2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="menu-list text-center">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="img/icon/cellphone.png">
                                        <p>cell Phones</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/icon/camera.png">
                                        <p>camera</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/icon/computer.png">
                                        <p>computer</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/icon/accessorie.png">
                                        <p>Accessories</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/icon/insurance.png">
                                        <p>Insurance</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/icon/deal.png">
                                        <p>Tag Boss Deals</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
</header>
