<div class="modal-height  login-tab">
   <uib-tabset justified="true">
      <uib-tab heading="Login">
         <div class="content-view">
            <form ng-submit="loginUser();">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <input class="form-control" placeholder="Email" type="email" ng-model="login.email" required>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <input class="form-control" placeholder="Password" type="password" ng-model="login.password" required>
                     </div>
                  </div>
               </div>
               <div class="text-center">
                  <p class="forget">
                     <a href="#">Forgot password?</a>
                  </p>
                  <button class="btn btn-danger btn-strong font-smart" type="submit">LOG IN</button>
               </div>
               <p class="text-center col-pad" ng-show="showInvalidLogin">Invalid Login Credentials</p>
            </form>
            <div class="text-center">
               <h3 class="light mb-font">OR</h3>
               <p class="forget">
                  LOGIN UP VIA
               </p>
               <div class="button-set">
                  <button class="btn btn-facebook">
                     <!-- <a href="http://vignesh.com:82/user/loginf">
                        <i class="fa fa-facebook"></i>
                     </a> -->
                     <a href="http://tagboss.wohlig.com/user/loginf?url=http://wohlig.co.in/tagboss/%23/home">
                        <i class="fa fa-facebook"></i>
                     </a>
                  </button>
                  <button class="btn btn-google">
                     <!-- <a href="http://vignesh.com:82/user/loging">
                        <i class="fa fa-google-plus"></i>
                     </a> -->
                     <a href="http://tagboss.wohlig.com/user/loging?url=http://wohlig.co.in/tagboss/%23/home">
                        <i class="fa fa-google-plus"></i>
                     </a>
                  </button>
                  <button class="btn btn-twitter">
                     <!-- <a href="http://vignesh.com:82/user/logint">
                        <i class="fa fa-twitter"></i>
                     </a> -->
                     <a href="http://tagboss.wohlig.com/user/logint?url=http://wohlig.co.in/tagboss/%23/home">
                        <i class="fa fa-twitter"></i>
                     </a>
                  </button>
               </div>
            </div>
         </div>
      </uib-tab>
      <uib-tab heading="SIGN UP">
         <div class="content-view">
            <form ng-submit="registerUser();">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <input class="form-control" placeholder="First Name" type="text" ng-model="register.firstname" required>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <input class="form-control" placeholder="Last Name" type="text" ng-model="register.lastname" required>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <input class="form-control" placeholder="Email" type="email" ng-model="register.email" required>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <input class="form-control" placeholder="Password" type="password" ng-model="register.password" required>
                     </div>
                  </div>
               </div>
               <div class="checkbox mb-10">
                  <label class="mf-font">
                     <input type="checkbox" style="margin: 2px 0px 0 -20px;" ng-model="register.check" required> I Accept the Terms and Conditions and Privacy Policy of the website
                  </label>
               </div>
               <div class="text-center">
                  <button class="btn btn-danger btn-strong font-smart" type="submit">Sign Up</button>
               </div>
            </form>
            <p class="text-center col-pad" ng-show="showAlreadyRegistered">Email id already registered</p>
            <div class="text-center">
               <h3 class="light mb-font">OR</h3>

               <p class="forget">
                  SIGN UP VIA
               </p>

               <div class="button-set">
                  <button class="btn btn-facebook">
                     <!-- <a href="http://vignesh.com:82/user/loginf">
                        <i class="fa fa-facebook"></i>
                     </a> -->
                     <a href="http://tagboss.wohlig.com/user/loginf?url=http://wohlig.co.in/tagboss/%23/home">
                        <i class="fa fa-facebook"></i>
                     </a>
                  </button>
                  <button class="btn btn-google">
                     <!-- <a href="http://vignesh.com:82/user/loging">
                        <i class="fa fa-google-plus"></i>
                     </a> -->
                     <a href="http://tagboss.wohlig.com/user/loging?url=http://wohlig.co.in/tagboss/%23/home">
                        <i class="fa fa-google-plus"></i>
                     </a>
                  </button>

                  <button class="btn btn-twitter">
                     <!-- <a href="http://vignesh.com:82/user/logint">
                        <i class="fa fa-twitter"></i>
                     </a> -->
                     <a href="http://tagboss.wohlig.com/user/logint?url=http://wohlig.co.in/tagboss/%23/home">
                        <i class="fa fa-twitter"></i>
                     </a>
                  </button>
               </div>
            </div>
         </div>
      </uib-tab>
      </ui-tabset>
</div>
