<div class="modal-height">
    <div class="content-view">
       <div class="row">
        <div class="col-md-4">
            <div class="his-img-hold display-inline">
                <img src="img/product/c1.jpg" class="img-responsive">
            </div>
        </div>
        <div class="col-md-8">

            <div class="renew-content display-inline">
                <div class="renew-content-title">
                    <h4>Nikon D3300 (Body with AF-S 18-55 mm VR II
Kit Lens) DSLR Camera <span class="grey-col">(Black)</span></h4>
                </div>
                <div class="hist-price pro-border-top">
                    <h4><i class="fa fa-inr"></i>24,712.00 <span class="font-12 br-col ">(This Price is inclusive of 1 year TagBoss insurance)</span></h4>
                </div>
                <div class="renew-content-footer pro-border-top pro-usp">
                    <ul>
                        <li>• 24.2 MP</li>
                        <li>• CMOS</li>
                        <li>• with 3 inch LCD</li>
                    </ul>
                </div>

            </div>

        </div>

</div>

    <div class="row mt30">
        <div class="col-md-5">
            <div class="slid">
                <flex-slider class="carousel" flex-slide="s in product track by $index" animation="slide" item-width="60">
                    <li>
                        <div class="img-slide-hold">
                            <img ng-src="{{s.image}}">
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
        <div class="col-md-7">
               
                <button type="button" class="btn btn-primary btn-strong" data-dismiss="modal">Add to Cart</button>
                <button type="button" class="btn btn-primary btn-strong">Add to Wishlist</button>
         
     
 
        </div>
    </div>

    
   

</div>
    </div>