<div class="modal-height">
   <div class="content-view em-pad">
      <div class="row">
         <div class="col-md-4 col-sm-4">
            <div class="his-img-hold display-inline">
               <img ng-src="{{quickViewProduct.mainImgQuick|uploadpath}}" class="img-responsive">
            </div>
         </div>
         <div class="col-md-8 col-sm-8">
            <div class="renew-content display-inline">
               <div class="renew-content-title">
                  <h4>{{quickViewProduct.name}}
                     <!-- <span class="grey-col">(Black)</span> -->
                  </h4>
               </div>
               <div class="hist-price pro-border-top">
                  <h4><i class="fa fa-inr"></i>{{quickViewProduct.price|currency:""}}
                     <span class="font-12 br-col ">(This Price is inclusive of 1 year TagBoss insurance)</span>
                  </h4>
               </div>
               <div class="renew-content-footer pro-border-top pro-usp">
                  <ul>
                     <li ng-repeat="spec in quickViewProduct.keyword">• {{spec.name}}</li>
                     <!-- <li>• CMOS</li>
                     <li>• with 3 inch LCD</li> -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt30">
         <div class="col-md-5 col-sm-6">
            <div class="slid">
               <flex-slider class="carousel" flex-slide="s in quickViewProduct.image track by $index" animation="slide" item-width="60">
                  <li ng-click="changeImage($index);">
                     <div class="img-slide-hold">
                        <img ng-src="{{s|uploadpath}}">
                     </div>
                  </li>
               </flex-slider>
            </div>
         </div>
         <div class="col-md-7 col-sm-6">
            <div class="mt16 txt-center">
               <button type="button" class="btn btn-primary btn-strong mb7" data-dismiss="modal">Add to Cart</button>
               <button type="button" class="btn btn-primary btn-strong mb7">Add to Wishlist</button>
            </div>
         </div>
      </div>
   </div>
</div>
